{% load djinn_core %}
{% if likes_enabled %}
<a class="action-inline update-like-action"
   target="#update-like-action-{{ object.ct_name }}-{{ object.id}}"
   data-pu_actionmethod="POST"
   href="{% url 'djinn_toggle_like' %}"
   data-pu_actiondata="uri={% object_to_urn object %}"
   data-pu_targetbehavior="replace"
   data-pu_callback="djinn_likes.likes.handle_like_action"
   data-pu_datatype="json" title="{% if is_liked_by_user %}Vind ik niet meer leuk{% else %}Vind ik leuk{% endif %}"
   data-pu_clear_id="like-counter-{{ object.ct_name }}-{{ object.id }}"
   id="update-like-action-{{ object.ct_name }}-{{ object.id}}">
    {% if is_liked_by_user %}
    Vind ik niet meer leuk
    {% else %}
    Vind ik leuk
    {% endif %}
</a>
{% endif %}
